<h1><%= @post.title %></h1>
<h4>Created at: <%= @post.created_at %></h4>
<p><%= @post.text %></p>

  <%= render 'comments/form' %>

  <ul>
  <% @comments.each do |comment| %>
    <li><p>
      <em>Comment posted at <%= comment.created_at %> by <%= comment.user.name %>:</em>
        <% if current_user.id == comment.user_id %>
          |
          <%= link_to "Edit", edit_post_comment_path(@post, comment) %> |
          <%= link_to "Delete", post_comment_path(@post, comment), :data => {:confirm => "Are you sure?",
          :method => "delete"} %>
        <% end %>
          </li>
    </p>
    <p><%= comment.text %></p></li>
  <% end %>
  </ul>
